@import '@iota/apps-ui-kit/styles';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-names-neutral-4;
    @apply text-names-primary-100;
}

body[data-scroll-locked] #top-navbar {
    padding-right: var(--removed-body-scroll-bar-size);
}

.landing-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/hero-landing.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.name-card-selected::before {
    --gradient-border-width: 1px;
    content: '';
    height: calc(100% + calc(var(--gradient-border-width) * 2));
    width: calc(100% + calc(var(--gradient-border-width) * 2));

    @apply absolute inset-0 rounded-[13px] z-[-1] -translate-x-[1px] -translate-y-[1px] bg-names-gradient-primary;
}
