@import '@iota/apps-ui-kit/styles';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-names-neutral-4;
    @apply text-names-primary-100;
}

body[data-scroll-locked] #top-navbar {
    padding-right: var(--removed-body-scroll-bar-size);
}

.name-card-selected::before {
    --gradient-border-width: 1px;
    content: '';
    height: calc(100% + calc(var(--gradient-border-width) * 2));
    width: calc(100% + calc(var(--gradient-border-width) * 2));

    @apply absolute inset-0 rounded-[13px] z-[-1] -translate-x-[1px] -translate-y-[1px] bg-names-gradient-primary;
}

.btn.btn-outlined,
.input-container {
    position: relative;
    border: transparent;
    background: #0a0d23;
    box-sizing: border-box;
}
.select-selector {
    position: relative;
    background-color: #0a0d23;
}

.select-selector::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: -1;
    @apply bg-names-gradient-primary;
    opacity: 0;
    pointer-events: none;
    border-radius: 9px;
}

.select-selector:focus {
    border-color: transparent;
}

.select-selector:focus::before {
    opacity: 1;
}

.btn.btn-outlined::before,
.input-container::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    @apply bg-names-gradient-primary;
    border-radius: inherit;
}

.btn.btn-outlined::before {
    border-radius: 120px;
}

.input-container::before {
    border-radius: 8px;
}
