# Default fallback, if no other path below this matches
* @iotaledger/dev-tools

/.github/workflows/ @iotaledger/dev-tools

/documentation/ @iotaledger/devrel
/indexer/ @iotaledger/dev-tools
/packages/ @iotaledger/dev-tools
/scripts/ @iotaledger/dev-tools

/package.json @iotaledger/dev-tools
/pnpm-lock.yaml @iotaledger/dev-tools
/pnpm-workspace.yaml @iotaledger/dev-tools
