# Default fallback, if no other path below this matches
* @iotaledger/dev-tools

/.github/workflows/ @iotaledger/dev-tools @iotaledger/tooling

/documentation/ @iotaledger/devx
/packages/ @iotaledger/dev-tools
/scripts/ @iotaledger/dev-tools
/sdk/ @iotaledger/tooling
/dapp/ @iotaledger/tooling
/build-scripts/ @iotaledger/tooling
/linting/ @iotaledger/tooling

/crates/iota-names-indexer/ @iotaledger/dev-tools
/docker/iota-names-indexer/ @iotaledger/dev-tools
/dev-tools/iota-names-indexer/ @iotaledger/dev-tools

/.eslintrc.cjs @iotaledger/tooling
/.prettierignore @iotaledger/tooling
/.lintstagedrc.json @iotaledger/tooling
/package.json @iotaledger/dev-tools @iotaledger/tooling
/pnpm-lock.yaml @iotaledger/dev-tools @iotaledger/tooling
/pnpm-workspace.yaml @iotaledger/dev-tools @iotaledger/tooling
/prettier.config.cjs @iotaledger/tooling
