NEXT_PUBLIC_NAMES_DAPP_DEFAULT_NETWORK=devnet

NEXT_PUBLIC_NAMES_DAPP_CONFIG='
{
   "devnet":{
      "network": "devnet",
      "namesDisplayUrl": "http://localhost:3000",
      "indexerUrl": "https://auctions.devnet.iota.cafe",
      "baseUrl": "http://localhost:3000"
   }
}
'
